In [1]:
suppressPackageStartupMessages(require(tidyverse))
suppressPackageStartupMessages(require(data.table))

In [2]:
phe_names <- c(fread('phe.lst', head=F) %>% pull(), 'INI22402')

In [3]:
phe_names

[1] "HC171"    "HC188"    "HC294"    "HC299"    "HC326"    "INI22402"

In [4]:
covars <- c(c('age', 'sex', 'Array'), paste0('PC', 1:4))

In [5]:
split_df <- bind_rows(lapply(c('train', 'val', 'test'), function(x){
    df <- fread(file.path(
        '/oak/stanford/groups/mrivas/ukbb24983/sqc/population_stratification/split', 
        paste0(x, '.fam')
    ), header=F) %>% select(V1, V2)
    colnames(df) <- c('FID', 'IID')
    df %>% mutate(split=x)
}))

In [6]:
# this needs to be replaced
keep_f <- '/oak/stanford/groups/mrivas/projects/biomarkers/covariate_corrected/outputExtendedNoTDIreduced/phenotypes/full.table.combined.phe'

In [7]:
keep_df <- fread(keep_f) %>% select(FID, IID)
# colnames(keep_df) <- c('FID', 'IID')

In [8]:
keep_df %>% dim()

[1] 461503      2

In [9]:
split_df %>% count(split)

  split n
1 test   67430
2 train 236005
3 val    33716

In [10]:
split_df %>% inner_join(keep_df, by=c('FID', 'IID')) %>% count(split)

  split n
1 test   63818
2 train 223328
3 val    31929

In [11]:
phe_f <- '/oak/stanford/groups/mrivas/ukbb24983/phenotypedata/master_phe/master.20190509.phe'

In [12]:
phe_df <- fread(phe_f, select=c(c('FID', 'IID'), covars, phe_names))

In [13]:
phe_keep_df <- phe_df %>% inner_join(keep_df, by=c('FID', 'IID'))

In [14]:
phe_keep_df %>% dim()

[1] 461504     15

In [15]:
phe_keep_df %>% fwrite('phe.tsv', sep='\t')

In [16]:
getwd()

[1] "/oak/stanford/groups/mrivas/users/ytanigaw/repos/rivas-lab/biomarkers/snpnet/disease_outcome_223k/phe"