In [1]:
source('cascade_helper.R')

In [2]:
p_thr <- 5e-9

In [3]:
outd <- file.path(getwd(), 'out_v3')

In [4]:
traits <- fread('cascade.input.files.tsv') %>% drop_na(c('imp')) %>% filter(imp != '')

In [5]:
traits %>% dim()

[1] 35  4

In [6]:
imp_anno_df <- traits %>% 
read_imp_sumstats_all(p_thr) %>%
annotate_imp_df()

In [7]:
imp_anno_df %>% count(CHROM) %>% arrange(suppressWarnings(as.numeric(CHROM)), CHROM)

   CHROM n
1  1      76
2  2      68
3  3      61
4  4      46
5  5      51
6  6      44
7  7      43
8  8      27
9  9      41
10 10     35
11 11     27
12 12     42
13 13     27
14 14     20
15 15     31
16 16     20
17 17     20
18 18     15
19 19     29
20 20     28
21 21      9
22 22     16
23 X     141

In [8]:
imp_anno_df %>% count(name)

   name                       n
1  Alanine aminotransferase   25
2  Albumin                    39
3  Alkaline phosphatase       32
4  Apolipoprotein A           35
5  Apolipoprotein B           20
6  Aspartate aminotransferase 28
7  AST to ALT ratio           34
8  C-reactive protein         25
9  Calcium                    20
10 Cholesterol                23
11 Creatinine                 45
12 Creatinine in urine         3
13 Cystatin C                 39
14 Direct bilirubin            7
15 eGFR                       49
16 Gamma glutamyltransferase  37
17 Glucose                    17
18 HbA1c                      43
19 HDL cholesterol            29
20 IGF-1                      62
21 LDL cholesterol            19
22 Non-albumin protein        34
23 Phosphate                  31
24 Potassium in urine          1
25 SHBG                       27
26 Sodium in urine             8
27 Testosterone               22
28 Total bilirubin            17
29 Total protein              41
30 Triglycerides              32
31 Urate                      35
32 Urea                       28
33 Vitamin D                  10

In [9]:
imp_anno_df %>%
fwrite(file.path(outd, 'cascade.imp.hits.auto_and_X.tsv'), sep='\t')

In [10]:
imp_anno_df %>%
filter(CHROM != 'X') %>%
fwrite(file.path(outd, 'cascade.imp.hits.tsv'), sep='\t')

In [11]:
imp_anno_df %>% 
mutate(is_X = (CHROM == 'X')) %>%
select(is_rare, is_outside_of_MHC, is_X, ID) %>%
unique() %>%
count(is_X, is_outside_of_MHC, is_rare)

  is_X  is_outside_of_MHC is_rare n
1 FALSE FALSE             FALSE     2
2 FALSE  TRUE             FALSE   708
3  TRUE  TRUE             FALSE   112

```
gdrive upload -p 1fGlnrj8Zu1Pox3fmxmFKdcbNVWiN9vhd out_v3/cascade.imp.hits.tsv
zstd -15 --rm out_v3/cascade.imp.hits.tsv
```