In [18]:
source('cascade_helper.R')

In [2]:
p_thr <- list(1e-7, 1e-7, 5e-8)
names(p_thr) <- c('protein-truncating', 'protein-altering', 'non-coding')
p_thr_df <- as.data.frame(p_thr) %>% gather(Csq, p_thr) %>% mutate(Csq = str_replace_all(Csq, '\\.', '-'))

In [3]:
outd <- file.path(getwd(), 'out')

In [4]:
annot.tbl <- '/oak/stanford/groups/mrivas/private_data/ukbb/variant_filtering/variant_filter_table.tsv.gz'
annot.arr <- read_annot_arr(annot.tbl)

In [5]:
annot.arr %>% count(Csq)

  Csq                n
1 non-coding         669033
2 protein-altering    87407
3 protein-truncating  27816

In [6]:
array.loci <- annot.arr %>% 
filter(Csq %in% c('protein-altering', 'protein-truncating')) %>% 
select(CHROM, POS, REF, ALT, Csq)

In [8]:
traits <- fread('cascade.input.files.tsv') %>% drop_na(c('imp')) %>% filter(imp != '')

In [19]:
imp_anno_df <- traits %>% 
read_imp_sumstats_all(p_thr[['non-coding']]) %>%
annotate_imp_df()

In [21]:
imp_anno_df %>% count(name)

   name                       n
1  Alanine aminotransferase   197
2  Albumin                    206
3  Alkaline phosphatase       291
4  Apolipoprotein A           216
5  Apolipoprotein B           223
6  Aspartate aminotransferase 237
7  C-reactive protein         185
8  Calcium                    202
9  Cholesterol                236
10 Creatinine                 350
11 Creatinine in urine         31
12 Cystatin C                 300
13 Direct bilirubin            74
14 eGFR                       334
15 Fasting glucose              3
16 Gamma glutamyltransferase  276
17 Glucose                    110
18 HbA1c                      298
19 HDL cholesterol            233
20 IGF-1                      355
21 LDL cholesterol            226
22 Lipoprotein A                5
23 Microalbumin in urine        3
24 Non-albumin protein        287
25 Phosphate                  159
26 Potassium in urine          12
27 SHBG                       252
28 Sodium in urine             35
29 Testosterone                98
30 Total bilirubin            123
31 Total protein              245
32 Triglycerides              212
33 Urate                      221
34 Urea                       172
35 Vitamin D                   70

In [22]:
imp_anno_df %>%
fwrite(file.path(outd, 'cascade.imp.hits.tsv'), sep='\t')

In [27]:
imp_anno_df %>% 
select(is_rare, is_outside_of_MHC, ID) %>%
unique() %>%
count(is_outside_of_MHC, is_rare)

  is_outside_of_MHC is_rare n
1 FALSE             FALSE     57
2  TRUE             FALSE   5112
3    NA             FALSE      2

In [28]:
imp_anno_df %>% 
filter(is.na(is_outside_of_MHC))

  ID              REF ALT Effect StdErr Direction HetISq HetChiSq HetDf HetPVal
1 X:31854782_G_C  G   C   0.0121 0.0021 ++-+      44.5   5.408    3     0.1443
2 X:31917454_C_CT C   CT  0.0112 0.0020 +++?       0.0   0.034    2     0.9829
  ⋯ CHROM POS      P         CM       id prev     block name
1 ⋯ X     31854782 6.421e-09 43.57216 3  25.25451 2     Urea
2 ⋯ X     31917454 3.630e-08 43.64179 1   0.00000 1     Sodium in urine
  is_outside_of_MHC is_rare
1 NA                FALSE
2 NA                FALSE

```
gdrive upload -p 1fGlnrj8Zu1Pox3fmxmFKdcbNVWiN9vhd out/cascade.imp.hits.tsv
zstd -15 --rm out/cascade.imp.hits.tsv
```